@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
	--header-height: 5.6rem;
}
@layer base {
	html {
		font-size: 62.5%;
	}

	body {
		@apply font-sans w-screen min-h-screen bg-page-main text-white;
		font-size: 1.6rem;
	}
}
