@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 48px;
  }
  html {
    @apply font-sans bg-main text-white;
    font-size: 62.5%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
